.personImg {
  width: 50px;
  border-radius: 50%;
  margin-top: 20px;
  
}
.person{
    box-shadow: 10px 10px 40px gray;
    width: 90%;
    height:300px;
    margin-top: 30px;
    border-radius: 10px;
    margin-left: 20px;
    
}
.text{
    text-align: center;
    color: magenta;
    
}
.description{
   margin-left: 5px;
   margin-right: 5px;
    text-align: justify;
}
.icon{
    width: 20px;
}
.icon{
    width: 110px;
    display: flex;
    color: coral;
    margin-left: 10px;
}
.rating{
    display: flex;
    align-items: center;
}