.home-container{
    display: flex;
   justify-content: space-between;
 margin-top: 70px;
    
}
.home-text{
    width: 50%;
    margin-left: 40px;
    margin-top: 20px;
}
.text1{
    color: rgb(255, 47, 206);
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: bold;
}
.img-container img{
    margin-right: 70px;
}
.btn1{
    width: 200px;
    height: 30px;
    border: none;
    background-color: magenta;
    color: white;
    border-radius: 10px;
    transition: .5s;
}
.btn1:hover{
    background-color: orange;
    transition: .5s;
}
#cus{
    text-align: center;
}
.home{
    margin-bottom: 30px;
}
.more a{
    text-decoration: none;
  

}
.more{
    text-align: center;
    margin-top: 20px;
   
   
   
}
#btn3{
    border: none;
    background-color: magenta;
    padding: 10px;
    width: 30%;
    border-radius: 10px;
    transition: .5s;
}
#btn3:hover{
    background-color: coral;
    transition: .5s;
}

